<header class="flex justify-center items-center py-10 w-full xl:w-[1120px] mx-auto text-lg">    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#start">Inicio</a>
        <a href="#training">Formación</a>
        <a href="#skills">Aptitudes</a>
        <a href="#attitudes">Actitudes</a>
    </nav>
</header>